/* Base styling for the body */
body {
  margin: 0; /* Remove default margin */
  font-family: "Roboto", sans-serif; /* Set font to Roboto */
  font-weight: 400; /* Set font weight */
  font-style: normal; /* Set font style */
  background-color: gainsboro; /* Set background color */
}

/* Main container styling */
.container {
  flex-direction: column; /* Arrange children in a column */
  min-height: 100vh; /* Ensure container takes full viewport height */
}

/* Logo section styling */
.logo {
  height: 5vw; /* Set height based on viewport width */
}

/* Header and footer styling */
.header, .footer {
  height: 10vw; /* Set height based on viewport width */
}

/* Navigation section styling */
.navigation {
  justify-content: space-between; /* Evenly space out navigation items */
}

/* Main content section styling */
.main-content {
  height: 20vw; /* Set height based on viewport width */
}

/* About and quick links section styling */
.about, .quick-links {
  flex-direction: column; /* Arrange children in a column */
  width: 100%; /* Set width to 100% */
}

/* Common flex display for various sections */
.container,
.navigation, 
.main-content,
.about, 
.quick-links {
  display: flex; /* Use flexbox layout */
}

/* This is only for centering the P's elements in each section
and just for changing the backgorund color and borders. */
.logo, 
.header, 
.nav-item, 
.about-content, 
.link-item, 
footer {
  background-color: white; /* Set background color to white */
  border: solid 0.1rem #000000; /* Set border with black color */
  margin: 0.2rem; /* Set margin */
  display: flex; /* Use flexbox layout */
  align-items: center; /* Center align items vertically */
  justify-content: center; /* Center align items horizontally */
}

/* Ensure flex items grow to fill available space */
.main-content,
.about-content, 
.link-item, 
.nav-item  {
  flex: 1; /* Allow items to grow */
}

/* Media query for responsive design on small screens */
@media (max-width: 700px) {
  .navigation {
    flex-direction: column; /* Stack navigation items vertically */
    flex-wrap: wrap; /* Allow wrapping */
  }
  .main-content {
    flex-direction: row; /* Arrange children in a row */
    flex-wrap: wrap; /* Allow wrapping */
    height: auto; /* Let height adjust based on content */
  }

  .quick-links, .about-content {
    flex: 1; /* Allow items to grow */
  }

  .header, .footer {
    height: 30vw; /* Increase height based on viewport width */
  }
}
