body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: gainsboro;
}

.container {
  background-color: red;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo, 
.header, 
.nav-item, 
.about-content, 
.link-item, 
footer {
  background-color: white;
  border: solid 0.1rem #000000;
  margin: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  display: inline-block;
  vertical-align: middle;
}

.logo {
  height: 5vw;
}

.header, .footer {
  height: 10vw;
}

.navigation {
  display: flex;
  justify-content:space-between;
}

.main-content {
  display: flex;
  flex: 1;
}

.about, .quick-links {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about-content, 
.link-item, 
.nav-item  {
  flex: 1;
}

.main-content {
  height: 20vw;
}

@media (max-width: 700px) {
  .navigation  {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .main-content {
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
  }

  .quick-links, .about-content {
     flex: 1;
  }

  .header, .footer {
    height: 30vw;
  }
}






